<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Newsy:</span></h4> 
     <p><span style="font-weight:bold;">23.02.2026: </span>Znaleziono bardzo obiecujący przepis na syntezę jednego ze składników masy katodowej.<a href="https://cybertoxine.github.io/praktyczne-i-tanie-ogniwo-glinowo-tlenowe-(alu-air)/#:~:text=ciekawy"> skocz</a></p> 
     <p><span style="font-weight:bold;">21.02.2026: </span>Przedstawiono procedurę lutowania glinu z miedzią bez używania specjalnych topników.<a href="https://cybertoxine.github.io/praktyczne-i-tanie-ogniwo-glinowo-tlenowe-(alu-air)/#:~:text=Zajdzie%20potrzeba"> skocz</a></p>  
     <p><span style="font-weight:bold;">17.02.2026: </span>Napisanie wstępu do kombinacji z kompozytem lignocelulozowo-epoksydowym.<a href="https://cybertoxine.github.io/kompozyt-lignocelulozowo-epoksydowy/#:~:text=Ka%C5%BCdy-,wie,-jak%20wytrzyma%C5%82e%20s%C4%85"> skocz</a></p>
     <p><span style="font-weight:bold;">14.02.2026: </span>Przeanalizowano przebiegi napięcia na reluktancyjnym czujniku położenia wału korbowego. Czujnik obciążano różnymi wartościami rezystancji.<a href="https://cybertoxine.github.io/mobilny-farmaceuta-spotyka-speeduino/#:~:text=jakie%20przebiegi"> skocz</a></p>
     <p><span style="font-weight:bold;">13.02.2026: </span>Zakończenie prób z utwardzaczem na bazie metforminy. Podsumowano robótki.<a href="https://cybertoxine.github.io/pozamedyczne-zastosowanie-metforminy-sieciowanie-poliepoksydow/#:~:text=z%20powodu%20braku"> skocz</a></p>
     <p><span style="font-weight:bold;">11.02.2026: </span>Przedstawienie koncepcji budowy katody w ogniwie alu-air.<a href="https://cybertoxine.github.io/praktyczne-i-tanie-ogniwo-glinowo-tlenowe-(alu-air)/#:~:text=plan%20to%20utworzenie"> skocz</a></p>  
</div> 


