<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Newsy:</span></h4>  
    <p><span style="font-weight:bold;">19.02.2026:</span> Zostały bla bla bla blablablablablablabla bla bla blablablabla bla bla bla obcięte paznokcie.</p>
     <p><span style="font-weight:bold;">18.02.2026:</span> Byłem u barbera z bla bla bla bla bla bla blablablablablabla bla bla bla bla bla bla bla bla bla bla bla bla bla psem.</p>
     <p><span style="font-weight:bold;">17.02.2026:</span>Kupywałem wino w Dino.</p>
     <p><span style="font-weight:bold;">16.02.2026:</span>Pojechałem, zajechałem, blablabla odjechałem, podjechałem, blablablablablablabla wyjechałem. Zaparkowałem blabla.</p>
</div> 
