<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Newsy:</span></h4>  
     <p><span style="font-weight:bold;">17.02.2026:</span>Napisanie wstępu do kombinacji z kompozytem lignocelulozowo-epoksydowym.</p>
     <p><span style="font-weight:bold;">14.02.2026:</span>Przeanalizowano przebiegi napięcia na reluktancyjnym czujniku położenia wału korbowego. Czujnik obciążano różnymi wartościami rezystancji.</p>
     <p><span style="font-weight:bold;">13.02.2026:</span>Zakończenie prób z utwardzaczem na bazie metforminy. Podsumowano robótki.</p>
     <p><span style="font-weight:bold;">11.02.2026:</span>Przedstawienie koncepcji budowy katody w ogniwie alu-air.</p>  
</div> 
